.sidebar {
  width: 3.5rem;
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-right: 1px solid #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .sidebar-menu {
    // background: red;

    .sidebar-icon {
      width: 35px;
      height: 35px;
      margin: 15px;
      display: flex;
      flex-direction: column;
      color: #293337;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;
      position: relative;

      transition: background-color 0.2s ease, color 0.2s ease;

      &.logo {
        margin-bottom: 30px;
        background-color: #fff;
        border-radius: 12px;
      }

      &:hover {
        background-color: $background-color-hover;
      }

      &.active {
        background-color: #e0e7ff;
        color: $accent-color;
      }

      &.toggle {
        margin-top: auto;
        background-color: #fff;
        border-radius: 12px;
        margin-bottom: 3rem;
      }
    }

    .toggle{
      margin: 1rem;
    }
  }
}
