$primary-color: #293337;
$accent-color: #0066ff;
$background-color-hover: #e0e7ffa3;

$background-color: #f9f9f9;
$header-background-color: #f1f1f1;
$white: #fff;

$border-radius: 5px;
$button-hover-color: darken($primary-color, 10%);
