@import './variables';

@import './common/Dropdown.scss';
@import './common/OutputPanel.scss';

@import './components/Battleground.scss';
@import './components/Arena.scss';
@import './components/Home.scss';
@import './components/CodeEditor.scss';
@import './components/Sidebar.scss';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&display=swap');

@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif, Arial !important;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.main-container{
  display: flex;
  height: 100vh;
}
